[viewBag]
==
<div class="site-header">

    <!-- <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <ul class="social-icons">
                    <li><a href="#" class="fa fa-facebook"></a></li>
                    <li><a href="#" class="fa fa-twitter"></a></li>
                    <li><a href="#" class="fa fa-dribbble"></a></li>
                    <li><a href="#" class="fa fa-linkedin"></a></li>
                </ul>
            </div>
        </div>
    </div> -->

    <div class="main-header">
        <div class="container">
            <div id="menu-wrapper">
                <div class="row">
                    <div class="logo-wrapper col-md-4 col-sm-2 col-xs-8">
                        <h1>
                            <a href="#" class="brand-name">
                                <span class="brand-name-first">Hoàng</span> 
                                <span class="brand-name-middle">Gia</span> 
                                <span class="brand-name-last">Ân</span>
                            </a>
                        </h1>
                    </div>
                    <div class="col-md-8 col-sm-10 col-xs-4 main-menu text-right">
                        <ul class="menu-first hidden-sm hidden-xs">
                            <li class="active"><a href="#">Về chúng tôi</a></li>
                            <li><a href="#services">Dịch vụ</a></li>
                            <li><a href="#portfolio">Sản phẩm</a></li>
                            {#<li><a href="#our-team">Về chúng tôi</a></li>#}
                            <li><a href="#contact">Liên hệ</a></li>
                        </ul>
                        <a href="#" class="toggle-menu visible-sm visible-xs"><i class="fa fa-bars"></i></a>
                    </div>
                </div>
            </div>
            <div class="menu-responsive hidden-md hidden-lg">
                <ul>
                    <li class="active"><a href="#">Về chúng tôi</a></li>
                    <li><a href="#services">Dịch vụ</a></li>
                    <li><a href="#portfolio">Sản phẩm</a></li>
                    {#<li><a href="#our-team">Về chúng tôi</a></li>#}
                    <li><a href="#contact">Liên hệ</a></li>
                </ul>
            </div>
        </div>
    </div>

</div>